    html {
    box-sizing: border-box;
    }
    * {
    box-sizing: inherit;
    }

    body {
        text-align: center;
        background-image: radial-gradient(circle, #8799de, #d0aae3)
    }

    h1 {
        margin: auto;
        background-color: #8799de;
        border-radius: 30px;
        max-width: 30ch;
        font-size: 2.5em;
    }

    #centerMe {
        margin-top: 2em;
        margin-bottom: 2em;
    }

    #caption {
        font-size: 1.1em;
        margin-bottom: 1.2em;
    }

    footer {
       margin: 1.5em 0 1.5em 0;
       font-size: 1.1em;
    }

    #introParagraph {
        max-width: 50ch;
        margin: auto;
        padding: 1.2em 1em;
        font-size: 1.2em;
        background-color: #fff;
    }

    #mainImage {
        max-width: 100%;
    }

    #albumCollection {
    margin-top: 2em;
    display: flex;
    justify-content: space-evenly;
    gap: .75em;
    flex-wrap: wrap;
    }

    .player {
        margin: 2em 0;
        font-size: 1.2em;
    }

    .songName {
        background-color: #fff;
        border-radius: 30px;
        padding: .5em 0;
        max-width: 20ch;
        margin: auto;
        text-align: center;
    }

@media screen and (max-width: 630px) {
    body {
        margin: 1em;
    }

    h1 {
        font-size: 2em;
    }

    p {
        font-size: .9em;
    }

    #caption, footer {
        font-size: 1em;
    }

    .player {
        margin: 1em 0;
    }
}